<!DOCTYPE html>
{{# if success }}
	<div class="container">
		<h2>Successful Issuance!</h2>
	</div>
{{ else }}
	<body>
		<div class="container">
			<form class="form-horizontal" action="issue/issuance" method="post">
				<fieldset>
				<h1>Issue Tickets</h1>
				{{# if errors }}
					<div class="form-group">
						<div class="col-lg-10 col-lg-offset-2">
							<ul>
								{{# each errors }}
									<li>{{ this.msg }}</li>
								{{/each}}
							</ul>
						</div>
					</div>
				{{/if}}
				<div class="form-group">
				  <label for="inputImage" class="col-lg-2 control-label">Album Photo URL</label>
				  <div class="col-lg-10">
				    <input type="text" class="form-control" placeholder="Album Photo" name="ticketImage">
				  </div>
				</div>
				<div class="form-group">
				  <label for="inputName" class="col-lg-2 control-label">Event Name</label>
				  <div class="col-lg-10">
				    <input type="text" class="form-control" placeholder="Event Name" name="eventName">
				  </div>
				</div>
				<div class="form-group">
				  <label for="inputName" class="col-lg-2 control-label">Artist Name</label>
				  <div class="col-lg-10">
				    <input type="text" class="form-control" placeholder="Artist Name" name="artistName">
				  </div>
				</div>
				<div class="form-group">
				  <label for="textArea" class="col-lg-2 control-label">Description</label>
				  <div class="col-lg-10">
				    <textarea type="text" class="form-control" placeholder="Description" name="ticketDescription"></textarea>
				    <span class="help-block">The mining fee scales with the amount of content you put in the description</span>
				  </div>
				</div>
				<div class="form-group">
				  <label for="select" class="col-lg-2 control-label">Ticket Price</label>
				  <div class="col-lg-10">
				    <input type="number" class="form-control" placeholder="Ticket Price" name="ticketPrice">
				    <span class="help-block">The price per ticket</span>
				  </div>
				</div>
				<div class="form-group">
				  <label for="select" class="col-lg-2 control-label">Issued Amount</label>
				  <div class="col-lg-10">
				    <input type="number" class="form-control" placeholder="Issued Amount" name="issuedAmount">
				    <span class="help-block">The quantity of tickets you want to create</span>
				  </div>
				</div>
				<div class="form-group">
				  <div class="col-lg-10 col-lg-offset-2">
				    <button type="submit" class="btn btn-custom">Submit</button>
				  </div>
				</div>
				</fieldset>
			</form>
		</div>
	</body>
{{/if}}